TRYTOND_DB_NAME=buildkart_tryton
TRYTOND_MODULES=stock,sale,stock_supply,account,account_invoice
TRYTOND_ADMIN_PASSWORD=<staging-tryton-admin-password>
PGHOST=postgres
PGPORT=5432
PGUSER=<staging-database-user>
PGPASSWORD=<staging-database-password>
